/* reset-css */
@import '../../node_modules/reset-css/sass/reset';


/* scss */
@import "mixin";


/* 試し */
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Yu Gothic", YuGothic;
  display: flex;
}