doctype html
html(lang="ja")
  head
    title= "タイトル"
    //meta
    meta(name="description" content="description")
    meta(name="keywords" content="keywords")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")
    link(rel="shortcut icon" href="../static/img/icon.png")

    // ogp
    meta(property="og:url" content="url")
    meta(property="og:title" content="title")
    meta(property="og:site_name" content="site_name")
    meta(property="og:description" content="description")
    meta(property="og:image" content="ogp_image_url")

    // twitter
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="title")
    meta(name="twitter:description" content="description")
    meta(name="twitter:site" content="url")
    meta(name="twitter:image" content="ogp_image_url")
    meta(name="twitter:creator" content="twitter_card_owner")

    //font 入れよう
    link(href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet")

    // stylesheet
    link(rel="stylesheet" href="/css/style.css")

    // stylesheet
    script(src="/js/vendor.bundle.js")

  body
    #app
    script(src="/js/bundle.js")